{% extends "mini_buildd/api.html" %}

{% block content %}
	<div class="api-confirm">
		<b>{{ api_cmd.name }}</b>
		{% for k, v in api_cmd.args.items %}
			{% if v %}
				{{ k }}=<b>{{ v.raw_value }}</b>
			{% endif %}
		{% endfor %}
		<form action="/mini_buildd/api" method="get">
			<div>
				<input type="hidden" name="command" value="{{ api_cmd.name }}" />
				{% for k, v in api_cmd.args.items %}
					<input type="hidden" name="{{ k }}" value="{{ v.raw_value }}" />
				{% endfor %}
				<input type="hidden" name="confirm" value="{{ api_cmd.name }}" />
				{% if referer %}
					<input type="hidden" name="output" value="referer{{ referer }}" />
				{% endif %}
				<input type="submit" value="Yes, run {{ api_cmd.name }}" title="Really run {{ api_cmd.name }}" />
			</div>
		</form>
	</div>
{% endblock %}
