{% extends "mini_buildd/api.html" %}
{% load mini_buildd_tags %}

{% block page_title %}API Index{% endblock %}
{% block page_sub_title %}API usage reference{% endblock %}

{% block content %}
	<div id="mbd-api">
		<p>
			See also <kbd><b>? mini-buildd-tool --help</b></kbd> on the command line.
		</p>
		{% for name, cmd in COMMANDS.items %}
			{% if cmd.isgroup %}
				<h1>{{ cmd.name }}</h1>
				<pre>{{ cmd.doc }}</pre>
			{% else %}
				<h2>{{ cmd.name }}</h2>
				<pre>{{ cmd.doc }}</pre>
				<div style="border-style: solid; border-width: thin;">
					{% mbd_api name %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
