{% extends "mini_buildd/api.html" %}
{% load mini_buildd_tags %}

{% block content %}
	<div id="mbd-api">
		<div class="box">
			<h1 class="box-caption">API call: {{ api_cmd.name }}</h1>
			<pre>{{ api_cmd.result | mbd_api_plain }}</pre>
		</div>
	</div>
{% endblock %}
