{% load static %}
{% load mini_buildd_tags %}
<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/mini-buildd.css" %}"/>

		{% mbd_jquery_path as jquery_path %}
		<script src="{% static jquery_path %}" type="text/javascript"></script>

		<script type="text/javascript">
			{% block localscript %}{% endblock %}
		</script>
		<script type="text/javascript" src="{% static "js/mini-buildd.js" %}"></script>
		<title>{% block title %}mini-buildd{% endblock %}: {% block page_title %}{% endblock %}</title>
	</head>
	<body>
		<!-- Header -->
		<div id="mbd-header">
			<div id="mbd-branding">
				<a class="image" title="mini-buildd Home" href="/"><img src="{% static "img/logo.svg" %}" alt="mini-buildd logo" /></a>
			</div>
			<div id="mbd-navigation">
				<ul class="left">
					<li class="first"><a href="/admin/">Configure</a></li>
					<li><a href="/mini_buildd/api">API Index</a></li>
					<li><a href="/doc/index.html">Documentation</a></li>
					<li><a class="homepage" href="http://mini-buildd.installiert.net/" title="mini-buildd web homepage">Homepage➚</a></li>
				</ul>
				<ul class="right">
					<li>
						{% if user.is_authenticated %}
							<a class="logged-in" href="/mini_buildd/accounts/profile/" title="Manage account">User <b>{{ user.username }}</b></a>
						{% else %}
							<a class="logged-out" href="/accounts/login/" title="Login or register account">Logged off</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>

		<!-- Page header -->
		<div id="mbd-page-header">
			{% block page_header %}{% endblock %}
		</div>

		<!-- Messages -->
		<div id="mbd_messages">
			{% block messages %}
				{% if messages %}
					<ul class="messagelist">{% for message in messages %}
						<li{% if message.tags %} class="messagelist {{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}</ul>
				{% endif %}
			{% endblock messages %}
		</div>

		<!-- Content -->
		<div id="mbd-content">
			{% block content %}{% endblock %}
		</div>

		<!-- Footer -->
		<div id="mbd-footer">
			<span class="mbd-footer-version" title="Version of mini-buildd">{{ mbd_version }}</span>
			{% if daemon.model.mbd_gnupg_long_id %}
				<span class="mbd-footer-key" title="Archive key and fingerprint">&raquo; <kbd>{{ daemon.model.mbd_gnupg_long_id }}: {{ daemon.model.mbd_gnupg_fingerprint }}</kbd></span>
			{% endif %}
		</div>
	</body>
</html>
